@{
    ViewData["Title"] = "Hakkımızda";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<section class="about-section py-5">
    <div class="container">
        <div class="row align-items-center g-5">
            
            <div class="col-lg-6 ms-3">
                <h2 class="section-title mb-4">Hakkımızda</h2>

                <p>Roastiva, kahvenin yolculuğunu dijital bir bakış açısıyla yeniden yorumlayan modern bir marka konseptidir.</p>
                <p>Her çekirdeğin kendine özgü bir karakteri olduğuna inanır; sadelik, kalite ve tutarlılığı merkeze alır.</p>
                <p>Minimal tasarım anlayışıyla şekillenen Roastiva, kahve deneyimini karmaşadan uzaklaştırmayı hedefler.</p>
                <p>Bu marka, güçlü bir kimlik ve tutarlı bir dijital yapı oluşturmak amacıyla tasarlanmıştır.</p>
            </div>
         
         </div>
    </div>
</section>

<section class="cta-section py-5 my-3 text-center">
    <div class="container">
        <h2 class="cta-title mb-4">Roastiva ile Kahve Deneyimini Yeniden Keşfedin</h2>
        <p class="cta-text mb-4">Sade, dengeli ve estetik kahve yolculuğuna katılın.</p>
        <a asp-controller="Product" asp-action="Index" class="btn cta-btn">
            Ürünlerimizi İncele
        </a>
    </div>
</section>



