@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<section class="about-section py-5">
    <div class="container">
        <div class="row align-items-center g-5">

            <div class="col-lg-6 ms-4">
                <h2 class="section-title mb-4">İletişim Bilgileri</h2>

                <p>Roastiva ile iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:</p>
                <p>Adres:</p>
                <p>E-mail:</p>
                <p>Tel:</p>
                                
            </div>

         </div>
    </div>
</section>