/* ================= HERO (Index) ================= */

.hero-section {
    background: linear-gradient( to bottom, #5b4440 0%, #5b4440 55%, rgba(91, 68, 64, 0.95) 65%, rgba(91, 68, 64, 0.85) 72%, rgba(91, 68, 64, 0.65) 80%, rgba(91, 68, 64, 0.35) 88%, #f5efe6 100% );
    display: flex;
    min-height: 40vh;
    border-radius: 0 0 2rem 2rem;
}

.hero-title {
    font-family: 'Cormorant Garamond', serif;
    color: #f5efe6;
    font-size: 3.8rem;
    font-weight: 600;
    margin-left: 1.5rem;
    animation: fadeUp 0.8s ease forwards;
}

.hero-text {
    font-size: 1.05rem;
    max-width: 600px;
    line-height: 1.8;
    color: #f5efe6;
    margin-left: 1.5rem;
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.2s;
}

.hero-btn {
    border: 1px solid #fff;
    color: #f5efe6;
    padding: 10px 30px;
    border-radius: 6px;
    background: transparent;
    margin-left: 1.5rem;
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.4s;
}

    .hero-btn:hover {
        background-color: #f5efe6;
        color: #3b2f2f;
    }

@media (max-width: 768px) {
    .hero-title {
        font-size: 42px;
    }

    .hero-text {
        font-size: 16px;
    }

    .about-section {
        padding-left: 0;
        padding-right: 0.8rem;
       
    }
}

/* ================= PROCESS ================= */

.process-section {
    background-color: #f1e1c8 !important;
    border-radius: 2rem;
    position: relative;
    isolation: isolate;
}

.process-img {
    background-image: url("/img/about-us-hero1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    border-radius: 0 0 2rem 2rem;
}

/* ================= ABOUT / CTA / VALUES ================= */

.about-section {
    background-image: url("/img/Arkaplan2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #3b2f2f;
    overflow: hidden;
    min-height: 40vh;
    border-radius: 0 0 2rem 2rem;
}
    .about-section::before {
        content: "";
        position: absolute;
        inset: 0;
    }
    .about-section .container {
        position: relative;
        z-index: 1;
    }


.cta-section,
.values-section {
    background: #efe9e0;
    border-radius: 2rem;
}



/* ================= ANIMATION ================= */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
