/* ================= HEADER / LOGO ================= */

.roastiva-logo {
    font-family: 'Cormorant', serif;
    font-size: 2rem;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #3b2f2f;
    margin-left: 1.5rem;
}

    .roastiva-logo .big {
        font-size: 3rem;
    }

    .roastiva-logo .lift {
        position: relative;
        top: -6px;
    }

    .roastiva-logo:hover {
        color: #3b2f2f;
    }

/* ================= NAVBAR ================= */

.roastiva-nav-container {
    background: linear-gradient(90deg, #f5efe6, #543d3d, #2c1c1c);
    height: 35px;
    padding-right: 2rem;
}

.roastiva-nav .nav-link {
    color: #f5efe6;
    font-size: 0.9rem;
    letter-spacing: 0.08em;
    font-family: 'Montserrat', sans-serif;
}

    .roastiva-nav .nav-link:hover {
        color: #c47a2c;
    }

/* ================= HAMBURGER ================= */

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* ================= OFFCANVAS (MOBILE) ================= */

.offcanvas {
    width: 85%;
    background-color: #f6f0e6;
}

.offcanvas-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.roastiva-mobile-menu li {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.roastiva-mobile-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    text-decoration: none;
    color: #4b2e2a;
    font-size: 0.9rem;
    letter-spacing: 0.08em;
}

.roastiva-mobile-menu .has-arrow a::after {
    content: "›";
    font-size: 1.4rem;
}

/* ================= HOME PAGE NAV OVERRIDE ================= */

.home-page .roastiva-nav-container {
    background: #f5efe6;
}

.home-page .nav-link {
    color: #3b2f2f;
}

.home-page .navbar-toggler-icon {
    filter: invert(0);
}

.home-page .roastiva-nav .nav-link {
    font-weight:bold;
}

.coffee-image-wrapper {
    position: relative;
}

.coffee-img {
    position: absolute;
    right: 0;
    bottom: -3rem;
    max-width: 90%;
    height: auto;
    border-radius: 0 0 2rem 0;
}

/* ================= FOOTER ================= */

    footer {
        color: #3b2f2f;
        padding: 1rem 0;
        text-align: left;
    }

        footer p {
            font-style: italic;
            font-size: 0.8rem;
        }

        footer a:hover {
            background-color: #ead9c1;
            color: #f5efe6;
            border-color: #fff;
            border-radius: 0.5rem;
            filter:drop-shadow(0 4px 5px #2c1c1c);
            padding: 0.2rem 0.5rem;
        }

@media (max-width: 768px) {

    footer p {
         font-size: 0.7rem;
    }

    footer a {
        font-size: 0.9rem;
    }
}
