body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5efe6;
    color: #3b2f2f;
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

.section-title {
    font-family: 'Cormorant', serif;
    font-size: 2.5rem;
}

.img-fluid {
    border-radius: 1.5rem;
}
