
<footer class="border-bottom">

    <div class="container py-4 d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="mb-3 mb-md-0 text-center text-md-start">
            <p>Roastiva, portföy çalışması kapsamında oluşturulmuş kurgusal bir marka projesidir.</p>
        </div>


        <div class="d-flex gap-3">
            <a asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-dark">İletişim Bilgileri</a>
            <a asp-controller="Home" asp-action="About" class="text-decoration-none text-dark">Hakkımızda</a>
            <a asp-controller="Home" asp-action="Process" class="text-decoration-none text-dark">Süreç</a>
        </div>
    </div>

   
       
</footer>

